:root {
  --light-color: #e3e1d4;
}

body {
  margin: 0;
  overflow: hidden;
}

#container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#sidebar {
  flex: 1;
}

#bg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#main-content {
  flex: 2;
  background-color: var(--light-color);
}
